<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>


	<form action="/address/addressXdmInst" id=form>
		seq:<input type=text disabled>
		representativeAddress:<input type=text name="representativeAddress">
		addressType:<input type=text name="addressType">
		address:<input type=text name="address">
		zipCode:<input type=text name="zipCode">		
		addContact_seq:<input type=text name="addContact_seq">
		<button type="button" id=btnSave>저장</button>
	</form>
	
	<script type="text/javascript">
		document.getElementById("btnSave").onclick = function() {
			document.getElementById("form").submit();
		}
	</script>
</body>
</html>