<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

	<table>
		<tr>
			<td>seq</td>
			<td>representativeAffiliation</td>
			<td>company</td>
			<td>department</td>			
			<td>position</td>
			<td>addContact_seq</td>
		</tr>
		<tr> 
			<td th:text="${item.seq}"></td>
			<td th:text="${item.representativeAffiliation}"></td>
			<td th:text="${item.company}"></td>
			<td th:text="${item.department}"></td>
			<td th:text="${item.position}"></td>
			<td th:text="${item.addContact_seq}"></td>
		</tr>

	</table>
</body>
</html>