<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "

http://mybatis.org/dtd/mybatis-3-mapper.dtd

">

<mapper namespace="com.a4a4lab.fapp.address.AddressDao">

	<resultMap id="resultMapObj" type="com.a4a4lab.fapp.address.AddressDto"></resultMap>
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			seq,
		    representativeAddress,
		    addressType,
		    address,
		    zipCode,
		    addContact_seq
		From
			address
		WHERE 1=1
		ORDER BY seq DESC
	</select>
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			seq,
		    representativeAddress,
		    addressType,
		    address,
		    zipCode,
		    addContact_seq
		From
			address
		WHERE 1=1
			AND seq=#{seq}
		ORDER BY seq DESC
	</select>
	<insert id="insert">
		INSERT INTO address(
		representativeAddress,
		addressType,
		address,
		zipCode,
		addContact_seq
		)VALUES(
		#{representativeAddress},
		#{addressType},
		#{address},
		#{zipCode},
		#{addContact_seq}
		)
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	<update id="update">
		UPDATE address SET
		representativeAddress=#{representativeAddress},
		addressType=#{addressType},
		address=#{address},
		zipCode=#{zipCode},
		addContact_seq=#{addContact_seq}
		WHERE
			seq=#{seq}
	</update>

</mapper>