<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "

http://mybatis.org/dtd/mybatis-3-mapper.dtd

">

<mapper namespace="com.a4a4lab.fapp.grouptype.GrouptypeDao">

	<resultMap id="resultMapObj" type="com.a4a4lab.fapp.grouptype.GrouptypeDto"></resultMap>
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			seq,
			directInput
		From
			grouptype
		WHERE 1=1
		ORDER BY seq DESC
	</select>
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			seq,
			directInput
		From
			grouptype
		WHERE 1=1
			AND seq=#{seq}
		ORDER BY seq DESC
	</select>
	
	<insert id="insert">
		INSERT INTO grouptype(
		directInput
		) VALUES(
		#{directInput}
		);
		<selectKey resultType="String" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		UPDATE grouptype SET
			directInput=#{directInput}
		WHERE
			seq=#{seq}
	</update>

</mapper>