<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "

http://mybatis.org/dtd/mybatis-3-mapper.dtd

">

<mapper namespace="com.a4a4lab.fapp.homepage.HomepageDao">

	<resultMap id="resultMapObj" type="com.a4a4lab.fapp.homepage.HomepageDto"></resultMap>
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			seq,
			homepage,
		    addContact_seq,
		    representativeHomepage
		From
			homepage
		WHERE 1=1
		ORDER BY seq DESC
	</select>

</mapper>