<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

	<table>
		<tr>
			<td>seq</td>
			<td>representativeDate</td>
			<td>dateType</td>
			<td>date</td>			
			<td>solarCalendarNy</td>
			<td>addContact_seq</td>
		</tr>
		<tr th:each="list : ${list}"> 
			<td th:text="${list.seq}"></td>
			<td th:text="${list.representativeDate}"></td>
			<td th:text="${list.dateType}"></td>
			<td><a th:href="@{/date/dateXdmView(seq=${list.seq})}" th:text="${list.date}"></a></td>
			<td th:text="${list.solarCalendarNy}"></td>
			<td th:text="${list.addContact_seq}"></td>
		</tr>

	</table>
	<br>
	<a href="/date/dateXdmForm">등록</a>
</body>
</html>