<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

	<table>
		<tr>
			<td>seq</td>
			<td>homepage</td>
			<td>addContact_seq</td>
			<td>representativeHomepage</td>
		</tr>
		<tr th:each="list : ${list}"> 
			<td th:text="${list.seq}"></td>
			<td><a th:href="@{/homepage/homepageXdmView(seq=${list.seq})}" th:text="${list.homepage}"></a></td>
			<td th:text="${list.addContact_seq}"></td>
			<td th:text="${list.representativeHomepage}"></td>
		</tr>
	</table>
	<br>
	<a href="/homepage/homepageXdmForm">등록</a>
</body>
</html>