<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

	<table>
			<tr>
				<td>seq</td>
				<td>representativeTel</td>
				<td>telType</td>
				<td>tel</td>
				<td>addContact_seq</td>
			</tr>
			<tr> 
				<td th:text="${item.seq}"></td>
				<td th:text="${item.representativeTel}"></td>
				<td th:text="${item.telType}"></td>
				<td th:text="${item.tel}"></td>
				<td th:text="${item.addContact_seq}"></td>
			</tr>
	
		</table>
		
	<a href="/tel/telXdmList">목록</a>
	<a th:href="@{/tel/telXdmDele(seq=${item.seq})}" id="delete">삭제</a>
	<a th:href="@{/tel/telXdmMform(seq=${item.seq})}">수정</a>
	<a th:href="@{/tel/telXdmUele(seq=${item.seq})}" id="uelete">업제</a>

	<script type="text/javascript">
		document.getElementById("uelete").onclick = function(){
			if(confirm("진짜요??")){
				//진짜 삭제
			}
			else{
				//아무것도 안해도 됨
				return false;
			}	
		}
		document.getElementById("delete").onclick = function(){
			if(confirm("진짜요??")){
				//진짜 삭제
			}
			else{
				//아무것도 안해도 됨
				return false;
			}	
		}
		
	</script>
</body>
</html>