<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

	<table>
		<tr>
			<td>seq</td>
			<td>representativeTel</td>
			<td>telType</td>
			<td>tel</td>
			<td>addContact_seq</td>
		</tr>
		<tr th:each="list : ${list}"> 
			<td th:text="${list.seq}"></td>
			<td th:text="${list.representativeTel}"></td>
			<td th:text="${list.telType}"></td>
			<td><a th:href="@{/tel/telXdmView(seq=${list.seq})}" th:text="${list.tel}"></a></td>
			<td th:text="${list.addContact_seq}"></td>
		</tr>

	</table>
	<br>
	<a href="/tel/telXdmForm">등록</a>
</body>
</html>